# Files for git to ignore
# Backup files
*~
# subversion administrative data
.svn/
#
# compiler output
#
*.[ao]
.deps/
alpine/date.c
alpine/alpine
alpine/rpload
alpine/rpdump
pico/pico
pico/pilot
pith/help_c_gen
pith/help_h_gen
pith/helptext.c
pith/helptext.h
web/src/alpined.d/local.c
web/src/alpined.d/.libs/
web/src/alpined.d/alpined
web/src/alpined.d/alpineldap
web/src/alpined.d/libwpcomm.la
web/src/alpined.d/wpcomm.lo
c-client
imap/OSTYPE
imap/SPECIALS
imap/an
imap/dmail/
imap/imapd/
imap/ipopd/
imap/mailutil/
imap/mlock/
imap/mtest/
imap/tmail/
#
# auto[make,configure] output
#
autom4te.cache/
po/Makefile.in
TAGS
regex/Makefile
web/src/Makefile
web/src/pubcookie/Makefile
po/stamp-po
imap/ip6
Makefile
config.log
config.status
libtool
include/config.h
include/stamp-h1
po/POTFILES
ltmain.sh
Makefile.in
aclocal.m4
# for now let's leave it in
# config.guess
# config.sub
# configure
